{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    {{ product.title }} ({{ product.productcode }})
{% endblock %}

{% block content %}
    <div class="max-w-lg mx-auto">
        <h1 class="text-2xl text-gray-800 mt-12 mb-7">Are you sure you want to delete "{{ product.title }}" ({{ product.product_code }})?</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="text-white text-center bg-red-500 hover:bg-red-600 rounded-md border-0 py-2 px-8">Delete</button>
        </form>
    </div>
{% endblock %}