{% extends 'base.html' %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-12 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img class="lg:w-1/2 h-full lg:w-auto object-cover object-center rounded" alt=""
                     src="{{ MEDIA_URL }}{{ product.image.url }}">
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ product.title }}</h1>

                    <p class="leading-relaxed my-6">Description: {{ product.description }}</p>

                    <div class="flex">
                        <span class="title-font font-medium text-2xl text-gray-900">{{ product.price }} €</span>
                        <a href="#" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                            Add to cart
                        </a>
                    </div>

                    <div class="flex mt-6">
                        <a href="#" class="bg-transparent hover:bg-indigo-500 text-indigo-500 font-medium hover:text-white py-2 px-6 border border-indigo-500 hover:border-transparent rounded mr-5">Edit</a>
                        <a href="#" class="bg-transparent hover:bg-red-500 text-red-500 font-medium hover:text-white py-2 px-6 border border-red-500 hover:border-transparent rounded mr-5">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}